/* TODO: there must be a better way to center the text... */
:root {
    --toggle-width: 64px;
    --toggle-height: 30px;
    --toggle-circle-diameter: 22px; /* height - 8 */
    --toggle-circle-translate: 34px; /* width - diameter - 8 */
    --size: 200px;
    --dropSize: 15px;
    --color: #f74d4d;
    --color2: #f86569;
    --dropColor: #e24f4f;
}

[data-theme="light"] {
    --font-color: black;
    --bg-color: white;
    --primary-color: #000428;
    --secondary-color: #004e92;
    --switch-on-color: #7928CA;
    --switch-off-color: #004e92;
    --toggler-color: white;
    --card-bg-color: rgb(236, 234, 234);
    --box-shadow-color: rgba(0,0,0,0.2);
    --bg: url(images/low-poly-grid-haikei-light.png);
}

[data-theme="dark"] {
    --font-color: #ffffffff;
    --bg-color: #121212;
    --primary-color: #FF0080;
    --secondary-color: #7928CA;
    --switch-on-color: #7928CA;
    --switch-off-color: #004e92;
    --toggler-color: #000000ff;
    --card-bg-color: #252526;
    --box-shadow-color: rgb(18, 18, 19, 0.2);
    --bg: url(images/low-poly-grid-haikei-dark.png);
}

* {
    box-sizing: border-box;
}

html, body {
    color: var(--font-color);
    background: var(--bg-color);
    scroll-behavior: smooth;
    transition: color .45s ease-in;
}

body {
    font-size: 1.4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, ul, ol, dl {
    margin: 0;
}

header {
    margin: 0;
}

.introduction {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2em;
    margin: 0;
    height: 100vh;
    width: 100vw;
    /* background-color: var(--bg-color); */
    position: relative;
    background-image: var(--bg);
    /* background-size: 100% 100%; */
    transition: color 0.45s ease-in;
}

.display-mode {
    float: right;
    margin: 0;
    padding: 0.3em;
    width: 8rem;
    height: 3rem;
    border-radius: 20px;
    border-width: 3px;
    background-color: var(--secondary-color);
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.greeting-container {
    /* background: var(--secondary-color); */
    height: max-content;
    width: 100vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    transition: color .45s ease-in;
}
.greeting-h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 0.35em;
    padding: 0.25em;
}

.greeting-sub {
    font-size: 1.6rem;
    margin: 0.25em;
    padding: 0.25em;
    font-style: italic;
}

.fa-chevron-down {
    font-size: 48px;
    color: var(--font-color);
    transition: all .45s ease-in-out;
}

.fa-chevron-down:hover {
    color:var(--secondary-color);
    transform: scale(1.1);
}

.arrow-container {
    position: absolute;
    height: 48px;
    width: 100px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    margin: 2em;
    padding: 1em;
    box-shadow: 2px 3px 4px 1px var(--box-shadow-color);
    background-color: var(--card-bg-color);
    transition: .45s ease-in;
}

.subheading {
    font-weight: bold;
}

footer {
    background-color: var(--bg-color);
    text-align: center;
    margin: 0;
    padding: 0;
}

.attribution {
    padding-bottom: 1em;
}

.attribution-h1 {
    font-size: 1.5rem;
}

.attribution-sub {
    font-size: 1rem;
}

.attribution-date {
    font-size: 1rem;
    margin: 0.5em;
}
.social {
    display: inline-flex;
    padding: 0.6em;
}

.heading {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 0.5em;
    text-align: center;
}

.fab {
    padding: 1em;
    color: var(--font-color);
}

.fab:hover {
    color: var(--secondary-color);
    transition: 0.1s;
}

.switch {
    position: relative;
    float: right;
    width: var(--toggle-width);
    height: var(--toggle-height);
    margin: 5vh;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch-off-color);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: var(--toggle-circle-diameter);
    width: var(--toggle-circle-diameter);
    left: 4px;
    bottom: 4px;
    background-color: var(--toggler-color);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: var(--switch-on-color);
}
input:focus + .slider {
    box-shadow: 0 0 1px var(--switch-on-color);
}
input:checked + .slider:before {
    -webkit-transform: translateX(var(--toggle-circle-translate));
    -ms-transform: translateX(var(--toggle-circle-translate));
    transform: translateX(var(--toggle-circle-translate));
}
.slider.round {
    border-radius: var(--toggle-height);
}
.slider.round:before {
    border-radius: 50%;
}

li {
    margin-bottom: 4px;
}

.cake-container {
    text-align: center;
    font-weight: bold;
}

.button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cake-button {
    margin: 1em;
    padding: 15px 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: var(--color);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    display: flex;
}

#cake-button:hover {background-color: var(--color2)}

#cake-button:active {
  background-color: var(--color2);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#cake-text {
    margin: 1em;
}

#clear-button {
    margin: 1em;
    padding: 15px 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: var(--font-color);
    background-color: var(--card-bg-color);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#clear-button:hover {background-color: var(--card-bg-color)}

#clear-button:active {
    background-color: var(--card-bg-color);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#cake-text {
    display: none;
    font-size: 2rem;
    margin-bottom: 0.5em;
}

#cake {
    margin: 1.5em;
}

#cake-number {
    font-size: 2.5rem;
    color: var(--color);
}

#cake-text-sub {
    font-style: italic;
    font-size: 1.5rem;
}